################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RESTAPIStartup/.vs/RESTAPIStartup/v16
/RESTAPIStartup/obj
